@use '../util' as *;

.hero {
  &__index {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // left: 50%;
    // transform: translateX(-50%);
    margin: 0;
    overflow: hidden;
    padding: 0;
    margin-bottom: rem(80);

    @include breakpoint-down(medium) {
      transition: all 350ms ease-in-out;
    }

    &--headline {
    }
  }
}

.index {

  &__bulkOrder {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
}

.bulk {

  &__header {
    font-size: rem(44);
    color: var(--primaryDkBlue);
    margin-bottom: rem(25);
  }
  
  &__intro {
    font-family: var(--font-text);
    color: var(--textGray);
    font-size: rem(22);
    font-weight: 500;
  }
}

