@use '../util' as *;

.hero {
  &__index {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // left: 50%;
    // transform: translateX(-50%);
    margin: 0;
    overflow: hidden;
    padding: 0;
    margin-bottom: rem(40);

    @include breakpoint-down(medium) {
      transition: all 350ms ease-in-out;
      margin-bottom: rem(40);
    }

    &--headline {
    }
  }
}

.index {

  &__bulkOrder {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: rem(40);

    @include breakpoint-down(medium) {
      width: 90%;
    }
  }
}

.bulk {

  &__header {
    font-size: rem(44);
    color: var(--primaryDkBlue);
    margin-bottom: rem(25);
  }
  
  &__intro {
    font-family: var(--font-text);
    color: var(--textGray);
    font-size: rem(22);
    font-weight: 500;
  }

  &__intro p {
    margin-bottom: 0;
  }
}

.index{

  &__fullWidth {
    padding: rem(40) 0;
    text-align: center;

    &--text {
      width: 45%;

      @include breakpoint-down(small) {
        width: 100%;
      }
    }

    &--head,
    &--subHead,
    &--subText {
      color: var(--white);
    }

    &--head {
      margin-bottom: rem(5);
    }

    &--subHead {
      line-height: 1.4;
      margin-bottom: rem(10);
    }

    &--subText {
      width: 65%;
      margin: 0 auto;
      margin-bottom: rem(30);
    }
  }
}


.indexProducts {
  background: url("/img/index_products_1920x700-min.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  // height: 35.9375rem; // 575px
  // // margin-top: 50px;
  margin-bottom: rem(40);
  margin-left: auto;

  @include breakpoint-down(small) {
    background-color: var(--primaryDkBlue);
    height: auto;
  }
}



